/* Write you CSS here */
.sub-container {
  background-image: radial-gradient(#2b237c, #180d5b);
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.interview-image {
  width: 350px;
}
.sub-container-heading {
  font-size: 40px;
  color: white;
}
.questions-filters-container {
  padding: 30px;
}
